.form-nav-buttons-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.form-nav-button {
  margin: 30px 20px;
  background-color: var(--main-blue);
  width: 150px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.form-nav-button p {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-white);
  align-self: center;
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.form-nav-button:hover {
  background-color: var(--main-green);
}

@media only screen and (max-width: 1000px) {
  .form-nav-button {
    width: 25vw;
    margin: 30px 10px;
  }
  .form-nav-button p {

    font-size: 0.75em;
  }
}
