.landingpage-nav-container {
  /* background-color: red; */
  height: 80px;
  margin: 50px 50px 20px 50px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 770px) {
  .landingpage-nav-container {
    margin: 0px 30px;
  }
}
