.landingpage-nav-container {
  height: 80px;
  margin: 30px 50px 30px 50px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 770px) {
  .landingpage-nav-container {
    margin: 0px 30px;
  }
}
