.form-page-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../../../assets/pics/rekrybg2.png") no-repeat center center
    fixed;
  background-size: cover;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
