:root {
  --main-green: rgb(145, 180, 140);
  --main-blue: rgb(90, 128, 164);
  --main-white: rgb(230, 226, 225);
  --nav-dash: rgb(159, 154, 153);
  --footer-bg: rgb(32, 31, 30);
  --font-color: rgb(112, 112, 112);
}
