.infobubble {
  width: 180px;
  background-color: var(--main-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  transition: 0.5s;
}

.infobubble a {
  color: var(--main-green)
}

.infobubble p {
  margin: 0 0 10px 0;
  font-size: 15px;
}

.infobubble p:first-child {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

#hiddedbox {
  opacity: 0;
}

.title-container {
  display: flex;
}

.l-icon {
  font-size: 50px;
  color: var(--main-blue);
  cursor: pointer;
  margin-right: -60px;
  margin-left: 10px;
  z-index: 1;
}

.r-icon {
  font-size: 50px;
  color: var(--main-blue);
  cursor: pointer;
  margin-right: 10px;
  margin-left: -55px;
  z-index: 1;
}

.outerbubble {
  display: flex;
}