

.infobubble-container {
  /* height: 1000px; */
  /* background-color: aqua; */
  margin: 100px 30px;
  display: flex;
  flex-direction: column;

}

@media only screen and (max-width: 1000px) {
  .infobubble-container {
    display: none
  }
}
