.landingpage-content {
  color: var(--font-color);
  width: 45%;
  background-color: var(--main-white);
  border-radius: 20px;
  margin-top: 50px;
  float: right;
  margin-right: 5%;
  min-width: 670px;
  max-width: 1080px;
}

.landingpage-content h1 {
  font-weight: 600;
  margin: 30px 50px;
  font-size: 45px;
}

.landingpage-content-grp1 {
  margin: 0px 100px 50px 50px;
  font-size: 18px;
  font-weight: 400;
}

.landingpage-content-grp1 p {
  margin-top: 20px;
}
.landingpage-content-grp2 {
  font-size: 18px;
  font-weight: 400;
  margin: 50px 50px;
}
.landingpage-content-grp2 p {
  margin: 0px;
}

.landingpage-content-grp3 {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-bottom: 20px;
}
.landingpage-hint-icon {
  font-size: 45px;
  color: var(--main-blue);
}

.landingpage-hint-text {
  width: 300px;
  margin: 0;
  display: flex;
  margin-left: 20px;
}

.landingpage-hint-text p {
  margin: 0;
  align-self: center;
}

@media only screen and (max-width: 770px) {
  .landingpage-content {
    width: 96%;
    margin: 50px 2%;
    min-width: 0;
  }
  .landingpage-content h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 10px;
  }
  .landingpage-content-grp1 {
    /* text-align: center; */
    margin: 0px 15px 0px 30px;
    font-size: 15px;
    font-weight: 400;
  }
  .landingpage-content-grp2 {
    /* margin: 40px 15px; */
    margin: 40px 15px 30px 30px;
    font-size: 15px;
    font-weight: 400;
  }
  .landingpage-content-grp3 {
    margin-left: 30px;
    margin-top: 10px;
  }
}
