.landingpage-content {
  color: var(--font-color);
  width: 45%;
  background-color: var(--main-white);
  border-radius: 10px;
  margin-top: 50px;
  float: right;
  margin-right: 5%;
  min-width: 670px;
  max-width: 800px;
}

.landingpage-content h1 {
  font-weight: 600;
  margin: 30px 50px 0px 50px;
  font-size: 45px;
  color: var(--main-blue)
}

.landingpage-content-grp1 {
  margin: 0px 100px 30px 50px;
  font-size: 18px;
  font-weight: 400;
}

.landingpage-content-grp1 p {
  margin-top: 10px;
}
 
.landingpage-content-grp1 p:first-child {
  font-weight: 500;
}
.landingpage-content-grp2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px 50px;
}
.landingpage-content-grp2 p {
  margin: 0px;
}

.landingpage-content-grp3 {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 20px;
  background-color: var(--main-green);
  height: 60px;
  border-radius: 5px;
}
.landingpage-hint-icon {
  align-self: center;
  margin-left: 10px;
  font-size: 45px;
  color: var(--main-blue);
}

.landingpage-hint-text {
  color: var(--main-white);
  width: 300px;
  margin: 0;
  display: flex;
  margin-left: 20px;
}

.landingpage-hint-text p {
  margin: 0;
  align-self: center;
  
}

.landingpage-buttons-grp {
  display: flex;
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.landingpage-button {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  background-color:  var(--main-blue);
  cursor: pointer;
  color: var(--main-white);
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
}

.landingpage-button:hover {
  background-color: var(--main-green);
}


.landingpage-button p {
  font-weight: 500;
  margin: 0;
  align-self: center;
}

#hidden-btn {
  display: none;
}

@media only screen and (max-width: 770px) {
  .landingpage-content {
    width: 96%;
    margin: 50px 2%;
    min-width: 0;
  }
  .landingpage-content h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 10px;
  }
  .landingpage-content-grp1 {
    margin: 0px 15px 0px 30px;
    font-size: 15px;
    font-weight: 400;
  }
  .landingpage-content-grp2 {
    margin: 40px 15px 30px 30px;
    font-size: 15px;
    font-weight: 400;
  }
  .landingpage-content-grp3 {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 5px;
  }
  .landingpage-content-grp3 p {
    font-size: 12px
  }
  .landingpage-hint-icon {
    font-size: 3rem;
  }

  .landingpage-buttons-grp {
    margin-left: 35px;
    font-size: 15px;
    margin-top: 10px;
  } 
  .landingpage-button {
    height: 30px;
  }
}
