hr {
  opacity: 0.3;
  margin: 40px auto;
}

.form-inner-container {
  margin-top: 20px;
  width: 80%;
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color);
  align-self: center;
}

.form-grp {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.form-grp label {
  font-weight: 400;
}

.form-grp input,
.form-grp select {
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding-left: 5px;
  height: 35px;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 5px;
}
.form-grp textarea {
  font-weight: 500;
  padding-left: 5px;
  font-size: 18px;
  margin-top: 10px;
  height: 120px;
  resize: none;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 5px;
}

.large {
  height: 150px !important;
}
.form-check-grp {
  display: flex;
  justify-content: space-between;
}

.form-check-grp div input {
  width: 25px;
  height: 25px;
}

.form-check-grp div {
  display: flex;
}

.form-check-grp div label {
  align-self: center;
  font-weight: 400;

}

.form-check-grp-text {
  display: flex;
}

.form-check-grp-text div {
  margin-top: 20px;
}

.form-check-grp-text  p {
  margin-left: 10px;
  font-weight: 500;
}

.copy-icon {
  font-size: 30px;
  margin-left: -30px;
  align-self: center;
  cursor: pointer;
}

.form-horizontal-grp {
  display: flex;
  justify-content: space-between;
}
.form-horizontal-grp input {
  width: 40%;
}

.form-horizontal-grp2 {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-info-block {
  margin: 10px;
  max-width: 250px;
  min-width: 250px;
  height: 300px;
  background-color: none;
  border-radius: 10px;
}

.image-info-block img {
  width: 100%;
  height: 100%;
  size: cover;
  background-color: none;
  border-radius: 10px;
}

.arrow-icon {
  align-self: center;
  font-size: 50px;
  margin-top: 5px;
}

.form-normal-grp-text p {
  font-weight: 400;
  align-self: center;
  margin: 5px 0;
}
.form-normal-grp-text p:first-child {
  font-weight: 600;
  margin-bottom: 10px;
}
.form-normal2-grp-text p {
  font-weight: 400;
  margin: 40px 0px;
}

.form-normal2-grp-text p span {
  font-weight: 600;
}
#form-smaller-text {
  margin-top: 60px;
  font-size: 15px;
  font-weight: 600;
}

.form-normal3-grp-text p:first-child {
  margin-top: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}
.form-normal3-grp-text p {
  margin: 0;
  font-weight: 400;
}

.form-normal3-grp-text p:last-child {
  margin-top: 50px;
}

 
.vali {
  height: 30px;
}

.thumbs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.thumbs-container p {
  align-self: center;
  font-size: 50px;
}

.thumbs-icon {
  align-self: center;
  font-size: 200px;
  color: var(--main-green)
}

#form2-header p{
  margin: 0;
  
}

#form2-header p:last-child {
  color: var(--main-blue);
}

#form2-header p:last-child a{
  color: var(--main-blue);
  color: var(--main-blue);
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .form-inner-container {
    width: 90%;
    font-size: 18px;
  }

  .form-check-grp {
    justify-content: center;
  }
  .form-grp label {
    font-size: 19px;
    text-align: center;
  }
  .form-check-grp div input {
    width: 20px;
    height: 20px;
  }

  .form-check-grp div label {
    /* font-size: 12px; */
    font-size: 3vw;
  }
  .form-check-grp div {
    margin: 0 5px;
  }
  .arrow-icon {
    font-size: 30px;
    margin-top: 10px;
  }
  .form-normal-grp-text p:first-child {
    text-align: center;
  }

  .preview-container {
    height: 110vw;
    max-height: 700px;
  }
  .thumbs-container p {
    align-self: center;
    font-size: 40px;
  }
  .thumbs-icon {
    font-size:150px;
  }

  .form-check-grp-text {
    margin-left: 30px;
  }
}
