.pdf-container {
  aspect-ratio: 3 / 4;
  background-color: #fff;
  /* margin: auto; */
}

.pdf-content {
  padding-top: 50px;
  padding-left: 50px;

}

.pdf-grp {
  margin-bottom: 20px;
}

.pdf-grp h6 {
  color: var(--font-color);
  margin: 0;
  font-size: 20px;
}
.pdf-grp p {
  color: var(--font-color);
  margin: 0;
  margin-left: 20px;
  font-size: 16px;
}